
.image-entete img{
    width: 100%;
    height: 267px;
    object-fit: cover;
    
}   
.logo-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-right: 39px;}
   

.logo-container i{
    color:black;
    margin-top: 10px;
}

.menu-title{
    display: flex;
    justify-content: space-between;
    font-family: "Shrikhand";
    font-size: 23px;
    padding: 38px 0 0px 20px;
    position: relative;
    top: -25px;
    border-top: solid white;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    
}
.heart-animation-container{
    position: relative;
    cursor: pointer;
    width: fit-content;
    padding-right: 10px;
    padding-bottom: 15px;
    }
.heart{
    font-size: 2rem;
    }

.heart-animation-background{
    position: absolute;
    color: transparent;
    z-index: -2;

    }
.heart-animation-background::before, .heart-animation-forground::before{
    background: linear-gradient(0deg,rgba(158, 113, 213, 0.9),rgba(243, 151, 216, 0.9)) 5% 5% / 300% 300%;
    -webkit-background-clip: text;
    }
.white-mask{
    position: absolute;
    z-index: -1;
    background-color: white;
    height: 2rem;
    width: 2rem;
    transition: height 1s ease;
    }
.heart-animation-container:hover .white-mask{
    height: 0px;
    }

.menu-title > i{
   
    font-size: 2rem;
    cursor: pointer;
    background-clip: text;
    margin-left: 55px;
}

          
.entrées-titre { 
    padding-left: 10px;
    margin-bottom: 20px; 
}

.entrées-titre::after{
    content: "";
    border-bottom: 2px solid #99e2d0;
    display: block;
    padding-top: 3px;
    width: 40px;
}
.plat-titre { 
    margin: 20px 0px 20px 0px ;
    padding: 15px 0px 0px 10px;
    
}
.plat-titre::after{
    content: "";
    border-bottom: 2px solid #99e2d0;
    display: block;
    padding-top: 3px;
    width: 40px;
}
      
.restaurant-container{
    padding: 2px 5px;
}
      
.dessert-titre { grid-area: dessert-titre;
    margin: 20px 0px 20px 0px ;
    padding: 15px 0px 0px 10px;
}
.dessert-titre::after{
    content: "";
    border-bottom: 2px solid #99e2d0;
    display: block;
    padding-top: 3px;
    width: 40px;
}      
.plat {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
    height: 73px;
    animation: fadein 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}
    
.plat-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
    
.plat-content {
    padding: 8px 12px;
    font-weight: 900;
    font-size: 17px;
    width: 95%;
    transition: width ease 0.5s;
}
    
.plat-title, .plat-description {
    margin: 4px 0px;
}
    
.plat-description {
    display: flex;
}
    
.plat-description-content {
    flex-grow: 1;
    font-weight: 100;
    margin-top: 8px;
    font-size: 15px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
    
.plat-price {
    display: flex;
    align-items: flex-end;
}
    
.plat-price > p {
    margin: 0;
}
    
.plat-validate {
    background-color: #99e2d0;
    flex-grow: 1;
    width: 0%;
    height: 73px;
    border-radius: 0 20px 20px 0px;
    display: flex;
    align-items: center;
    visibility: hidden;
    transition-delay: 0.5s;
    
}
    
.plat-validate > i {
     color: white;
    margin: auto;
     font-size: 24px;
    
    }
    
    
.un:hover .plat-content {
        width: 75%;
        
    }
.un:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
    }
    
.un:hover .plat-validate {
        visibility: visible;
        transition: 0s visibility;
        
    
    }

.deux:hover .plat-content {
    width: 75%;
        
}
.deux:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.deux:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.trois:hover .plat-content {
    width: 75%;
        
}
.trois:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.trois:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}
.quatre:hover .plat-content {
    width: 75%;
        
}
.quatre:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.quatre:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.cinq:hover .plat-content {
    width: 75%;
        
}
.cinq:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.cinq:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.six:hover .plat-content {
    width: 75%;
        
}
.six:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.six:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.sept:hover .plat-content {
    width: 75%;
        
}
.sept:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.sept:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.huit:hover .plat-content {
    width: 75%;
        
}
.huit:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.huit:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}

.neuf:hover .plat-content {
    width: 75%;
        
}
.neuf:hover .plat-validate > i {
        
    animation: rotate 1s both;
        
 }
    
.neuf:hover .plat-validate {
    visibility: visible;
    transition: 0s visibility;
        
}
@keyframes rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
        
    }
@keyframes fadein {
        from {
            transform: translate(0px, 10px);
            opacity:0;
        }
        to {
            transform: translate(0px, 0px);
            opacity:1;
        }
    }
    .btn-container{
        text-align: center;
    }      
    